.disable-scroll {
    overflow-y: hidden;
}

.CourseHomePage {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
}

.CourseHomePage img {
    width: 90%;
    display: block;
    margin: -22.5vh 5% auto;
    border-radius: 10px;
}

.course-search {
    width: 80%;
    height: 55px;
    display: block;
    padding: 7px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: lightgray;
}

.c-filter-btn {
    width: 75px;
    height: 55px;
    margin-left: 0.25%;
    vertical-align: top;
    border: none;
    border-radius: 5px;
    font-size: large;
    color: #0B2E4E;
    background-color: #F2C300;
    cursor: pointer;
    transition: 0.3s;
}

.c-filter-btn:hover {
    color: #fdfdfd;
    background-color: #0B2E4E;
}

.c-dropdown {
    position: relative;
    display: inline-block;
    transition: 0.3s; 
}

.c-dropdown-content {
    display: none;
    position: absolute;
    width: 150px;
    height: 273px;
    margin-left: -35px;
    z-index: 1;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: #F2C300;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.3s; 
}

.c-dropdown-content::-webkit-scrollbar {
    display: none;
}
  
.c-dropdown-content {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.c-dropdown-content span {
    display: block;
    padding: 15px;
    text-align: center;
    transition: 0.3s;
}

.c-dropdown-content span:hover {
    background-color: #be9801;
}

.c-dropdown:hover .c-dropdown-content {
    display: block;
}
  
.c-dropdown:hover .c-filter-btn {
    color: #fdfdfd;
    background-color: #0B2E4E;
}

#c-search-input {
    width: 70%;
    height: 50px;
    margin-left: 0.5%;
    padding-left: 10px;
    vertical-align: top;
    border: none;
    border-radius: 5px 0 0 5px;
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

#c-search-input:focus {
    outline: 1px solid #0B2E4E;
}

#c-search-btn {
    width: 55px;
    height: 54px;
    margin-top: -0.10%;
    vertical-align: top;
    border: 1px solid #F2C300;
    border-radius: 0 5px 5px 0;
    background-color: #F2C300;
    cursor: pointer;
    transition: 0.3s;
}

#c-search-btn img {
    width: 75%;
    margin-top: 5%;
}

#c-search-btn:hover {
    border: 1px solid #0B2E4E;
    background-color: #0B2E4E;
}

#c-search-btn:hover img {
    filter: invert(100%);
}
 
.guidance-btn { 
    position: relative;
    width: 110px;
    height: 55px;
    margin-top: -0.2%;
    margin-left: 0.25%;
    vertical-align: top;
    padding: 16px;
    font-size: large;
    border: none;
    border-radius: 5px;
    color: #0B2E4E;
    background-color: #F2C300;
    cursor: pointer;
    transition: 0.3s; 
}

.guidance-btn:hover {
    color: #fdfdfd;
    background-color: #0B2E4E;
}

.disable-scroll {
    overflow-y: hidden;
}

.CoursePage{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
}

.courses {
    width: 80%;
    margin: auto;
}

.courses a {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 3%;
    bottom: -15%;
    text-decoration: none;
    color: #0B2E4E;
    cursor: pointer;
}

.courses a img {
    width: 40px;
    height: 40px;
    background-color: #fdfdfd;
    border-radius: 25px;
    transition: 0.3s;
}

.courses a:hover img {
    background-color: lightgray;
}

#summary {
    width: 80%;
    margin: auto;
    padding: 35px;
    margin-bottom: 15px;
    border-radius: 15px;
    text-align: start;
    background-color: #0B2E4E;
    transition: 0.3s;
}

#summary:hover {
    transform: scale(1.01);
}

#summary:hover h2 {
    color: #fdfdfd;
}

#summary h2 {
    transition: 0.3s;
    color: #F2C300;
}

#summary div {
    position: relative;
    width: 98%;
    padding: 10px;
    border-radius: 10px;
    background-color: #fdfdfd;
    text-decoration: none; 
    line-height: 150%;
    line-break: normal;
}

#summary div button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: large;
    color: black;  
    background-color: #F2C300;
    transition: 0.3s; 
}

#summary div button:hover {
    cursor: pointer;
    color: white;
    background-color: #0B2E4E;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}

.course-details {
    margin: 5% auto;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    background-color: #0B2E4E;
}

.course-details h1 {
    color: #F2C300;
}

#detailed-summary {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    font-size: large;
    text-align: justify;
    background-color: white;
}

#detailed-summary button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: larger;
    color: black;  
    background-color: #F2C300;
    transition: 0.3s;
}

#detailed-summary button:hover {
    cursor: pointer;
    color: white;
    background-color: #0B2E4E;
}
 
@media (max-width: 1500px){
    #summary {
        width: 85%;
    }
}

@media (max-width: 1200px){
    .CourseHomePage img {
        width: 100%;
        margin: -22.5vh auto;
        margin-bottom: 0;
        border-radius: 0;
    }

    .course-search {
        width: 98.5%;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 0;
    }
}

@media (max-width: 900px) {
    #c-search-input {
        width: 55%;
    }
}

@media (max-width: 600px) {
    #c-search-input {
        width: 50%;
    }
}