footer {
    width: 100%;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: lightgray;
}

footer a {
    text-decoration: none;
    color: #0B2E4E;
}

footer a:hover {
    text-decoration: underline;
}