.signin-form {
  margin-top: -15vh;
  margin-bottom: 18%;
}

#form-container {
  margin: auto;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: lightgray;
}

#form-container h1 {
  text-align: center;
}

#form-container p {
  text-align: center;
  color: white;
}

#form-container a {
  color: #0B2E4E;
}

#form-container form {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

#form-container input {
  line-height: 200%;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  outline: none;
}

#form-container input:focus {
  outline: 1px solid #0B2E4E;
}
.submit-btn {
  width: 150px;
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  font-size: 22px;
  border-radius: 15px;
  background-color: #0B2E4E;
  color: #fdfdfd;
  font-weight: bold;
  transition: 0.3s;
}

.submit-btn:enabled:hover {
  background-color: #F2C300;
  color: #0B2E4E;
  cursor: pointer;
}

.submit-btn:disabled {
  background-color: #1e2128;
  border: #F2C300 1px solid;
  color: #282c34;
}

.instructions {
  position: relative;
  margin-top: 0;
  bottom: -10px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 0.25rem;
  background-color: #F2C300;
  border-radius: 0.5rem;
}

svg {
  margin-right: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.valid {
  color: greenyellow;
  margin-left: 0.5rem;
}

.invalid {
  color: red;
  margin-left: 0.5rem;
}

.hide {
  display: none;
}