.register-form {
    margin-top: -15vh;
    margin-bottom: 14%;
}
  
  #signup {
    margin: auto;
    max-width: 500px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    line-height: 200%;
    background-color: lightgray;
  }
  
  #signup h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  #signup p {
    line-height: 100%;
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
    color: white;
  }
  
  a {
    color: #005596;
  }
  
  form {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
  }
  
  input {
    line-height: 200%;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background-color: white;
    color: black;
  }
  
  .submit-btn {
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    font-size: 22px;
    border-radius: 10px;
    background-color: #F2C300;
    color: #282c34;
    font-weight: bold;
  }
  
  .submit-btn:enabled:hover {
    cursor: pointer;
  }
  
  .submit-btn:disabled {
    background-color: #1e2128;
    border: #F2C300 1px solid;
    color: #282c34;
  }
  
  .instructions {
    position: relative;
    bottom: -10px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1rem;
    padding: 0.25rem;
    background-color: #F2C300;
    border-radius: 0.5rem;
  }
  
  svg {
    margin-right: 0.5rem;
  }
  
  .offscreen {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  
  .valid {
    color: greenyellow;
    margin-left: 0.5rem;
  }
  
  .invalid {
    color: red;
    margin-left: 0.5rem;
  }
  
  .hide {
    display: none;
  }
  
  @media (max-width: 1000) {
    #signup { 
      margin-top: 15%;
      max-width: 80%;
    }
  }