.survey {
    position: relative;
    width: 30%;
    margin: 5% auto;
    padding: 20px;
    border-radius: 15px;
    color: #0B2E4E;
    background-color: lightgray;
}

.survey h1 {
    text-align: center;
}

.survey form {
    width: 80%;
    margin: auto;
}

.survey input {
    width: 97%;
    margin: 3% auto;
    line-height: 200%;
    padding: 0.5rem;
    border: none;
    font-size: large;
    border-radius: 10px;
    background-color: white;
    color: black;
}

.survey button {
    width: 150px;
    display: block;
    margin: 3% auto;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: large;
    color: white;
    background-color: #0B2E4E; 
    cursor: pointer;  
}

.survey button:hover {
    color: #0B2E4E;
    background-color: #F2C300;
}