.banner-1 {
    width: 100%;
    top: 0;
}

.CourseHomePage{
    width: 70%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
}

.CourseHomeTitle{
    padding-top: 3vh;
    text-align: center;
}