.home-page {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 100px;
}

.home-page a {
    text-decoration: none;
    color: #F2C300;
}

.HomeTitle{
    color: black;
    text-align: center;
    padding: 10vh;
    border: 5px solid #005596;
    background-color: #F2C300;
}

.TextLeft {
    padding-top: 20vh;
    display: flex;
}

.TextLeft h1 {
    margin: auto;
    color: black;
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
}

.TextLeft img {
    width: 50%;
    height: 45%;
    float: right;
}

.TextRight {
    padding-top: 20vh;
    display: flex;
}

.TextRight h1 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    float: right;
    line-height: 150%;
    text-align: right;
}

.TextRight img {
    width: 50%;
    height: 43%;
    float: left;
}