section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #295cd3;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a:visited {
  color: #fac03d;
}

input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: white;
  color: black;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  border: none;
  font-size: 22px;
  border-radius: 0.25rem;
  background-color: #fac03d;
  color: #282c34;
  font-weight: bold;
}

button:disabled {
  background-color: #1e2128;
  border: #fac03d 1px solid;
  color: #282c34;
}

.instructions {
  position: relative;
  bottom: -10px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding: 0.25rem;
  background-color: rgb(229, 206, 35);
  border-radius: 0.5rem;
}

svg {
  margin-right: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.valid {
  color: greenyellow;
  margin-left: 0.5rem;
}

.invalid {
  color: red;
  margin-left: 0.5rem;
}

.hide {
  display: none;
}