footer {
    clear: both;
    position: relative;
    margin-top: 50px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #005596;
    color: white;
}
